<% content_for :title do %>Smart Green<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="device" data-view="Text" data-title="智慧插座1" data-text="開啟中" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="voltage1" data-view="Meter" data-title="電壓(V)" data-min="0" data-max="150"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="amp1" data-view="Meter" data-title="電流(mA)" data-min="0" data-max="1000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="energy1" data-view="Number" data-title="每小時耗電(KWh)" style="background-color:#96bf48;"></div>
      <i class="icon-heart icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="power1" data-view="Graph" data-title="功率(W)" style="background-color:#ff9618"></div>
      <!-- <div data-id="power1" data-view="Graph" data-title="功率(W)" style="background-color:red"></div> -->
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reactive_power1" data-view="Number" data-title="重啟耗電" style="background-color:#96bf48;"></div>
      <i class="icon-heart icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/Snapshot_Original_CH1_20151028115636.jpeg"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/Snapshot_Original_CH1_20151028115809.jpeg"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/Snapshot_Original_CH1_20151028120453.jpeg"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/Snapshot_Processed_CH1_20151028115636.jpeg"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/Snapshot_Processed_CH1_20151028115809.jpeg"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/Snapshot_Processed_CH1_20151028120453.jpeg"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
</div>
